In [2]:
import sys, os
sys.path.append(os.path.abspath(".."))

from src.data_loader import load_data
from src.collab_filtering import create_item_user_matrix, get_similar_movies

# Load data
ratings, movies, df = load_data()

# Create matrix
item_user_matrix = create_item_user_matrix(df)

# Pick a movie (e.g. Toy Story movieId = 1 in most datasets)
similar_movies = get_similar_movies(1, item_user_matrix)

# Join with movie titles
similar_movies = similar_movies.reset_index().merge(movies, on="movieId")[['title', 1]]
similar_movies.columns = ['title', 'similarity']
similar_movies

                                               title  similarity
0  Star Wars: Episode VI - Return of the Jedi (1983)    0.629837
1          Star Wars: Episode IV - A New Hope (1977)    0.628777
2  Raiders of the Lost Ark (Indiana Jones and the...    0.586057
3               Independence Day (a.k.a. ID4) (1996)    0.578368
4                          Back to the Future (1985)    0.577313
5  Star Wars: Episode V - The Empire Strikes Back...    0.566370
6                         Mission: Impossible (1996)    0.560099
7         Willy Wonka & the Chocolate Factory (1971)    0.559666
8                                 Toy Story 2 (1999)    0.557523
9                               Jurassic Park (1993)    0.556452